<template>
    <div class="alert alert-flash alert-border-left alert-fill"
         :class="'alert-'+level"
         role="alert"
         v-show="show">
         <strong>{{ title }}</strong>
         <p>{{ body }}</p>
    </div>
</template>

<script>
    export default {
        props: ['message'],

        data() {
            return {
                title: '',
                body: this.message,
                level: 'success',
                show: false
            }
        },

        created() {
            if (this.message) {
                this.flash();
            }

            window.events.$on(
                'flash', data => this.flash(data)
            );
        },

        methods: {
            flash(data) {
                if (data) {
                    this.title = data.title;
                    this.body = data.message;
                    this.level = data.level;
                }

                this.show = true;

                this.hide();
            },

            hide() {
                setTimeout(() => {
                    this.show = false;
                }, 5000);
            }
        }
    };
</script>

<style>
    .alert-flash {
        position: fixed;
        right: 25px;
        bottom: 25px;
        z-index: 1500;
    }
</style>