<template>	
	<section class="box-typical">
		<header class="box-typical-header">
			<div class="tbl-row">
				<div class="tbl-cell tbl-cell-title">
					<h3 v-show="!searching">Expedientes</h3>
					<transition name="fade">
						<div class="col-md-4" v-show="searching">
							<div class="form-control-wrapper form-control-icon-left">
								<input 	type="text" 
										class="form-control form-control-rounded" 
										placeholder="Buscar expediente!"
										v-model="search"
										@input="searched">
								<i class="fa fa-search"></i>
							</div>
						</div>
					</transition>
				</div>
				<div class="tbl-cell tbl-cell-actions">
					<button class="btn btn-sm btn-info-outline" @click="searching = true">
						<i class="fa fa-search"></i>
					</button>
					<a href="/admin/patients/create" class="btn btn-sm btn-success-outline">
						<i class="fa fa-user-plus"></i>
						Agregar
					</a>
				</div>
			</div>
		</header>
		<div class="box-typical-body">
			<slot></slot>
		</div>
	</section>
</template>

<script>
export default {

	data () {
		return {
			searching: false,
			search: ''
		}
	},
	methods: {
		searched () {
			this.$emit('search', this.search);
		}
	}

}
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>