<template>

<div>
	<section class="card card-inversed mb-3">
		<header class="card-header">
			Filtrar citas!
			<button type="button" class="modal-close" @click="$emit('close:filter')">
				<i class="font-icon-close-2"></i>
			</button>
		</header>
		<div class="card-block">
			<div class="row">
				<div class="col-xs-3">
					
					<div class="form-group">
						<label class="form-label semibold">
							Paciente
						</label>						
						<select2 	@input="seletingPatient"
									:options="patients"
									label="full_name"
									:show-labels="false"
									placeholder="Paciente">								
						</select2>						
					</div>

				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="form-label semibold">
							Medico
						</label>
						<div class="form-control-wrapper form-control-icon-left">
							<select2 	@input="seletingMedical"
										:options="medicals"
										label="name"
										:show-labels="false"
										placeholder="Medico">								
						</select2>	
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="form-label semibold">
							Estatus
						</label>
						<div class="form-control-wrapper form-control-icon-left">
							<select2 	@input="seletingStatu"
										:options="status"
										:show-labels="false"
										label="label">
							</select2>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="form-label semibold">
							Fecha
						</label>
						<div class="form-control-wrapper form-control-icon-left">
							<input 	type="date" 
									class="form-control" 
									placeholder="Fechas"
									v-model="searchData.start">
							<i class="font-icon font-icon-pin"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-3 offset-xs-9">
					<button class="btn btn-default btn-sm" @click="removeFilter">
						<i class="fa fa-eraser"></i>
					</button>
					<button class="btn btn-primary btn-sm" @click="seleted">
						<i class="fa fa-search"></i>
						Buscar
					</button>
				</div>

			</div>
		</div>
	</section>
</div>

</template>

<script>
	import Select2 from 'vue-multiselect';
	export default{
		components: {Select2},
		props: ['medicals', 'patients'],
		data () {
			return {
				status: [
				 	{ label: 'Abierta', value: 'open' },
		         	{ label: 'Atendida', value: 'ready' },
		          	{ label: 'Cancelada', value: 'cancel' }
		        ],
				searchData: {
					patient: '',
					medical: '',
					statu: '',
					start: ''
				}
			}
		},

		methods: {
		     seletingPatient (patient) {
		     	this.searchData.patient = patient.id;		     	
		     },
		     seletingMedical (medical) {
		     	this.searchData.medical = medical.value;		     	
		     },
		     seletingStatu (statu) {
		     	this.searchData.statu = statu.value;
		     },
		     seleted () {
		     	this.$emit('search:consult', this.searchData);
		     },
		     removeFilter () {
		     	this.$emit('remove:filter');		     	
		     }
		}
	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
