<template>

  <tr v-if="!editing" :class="classTr">
      <td class="table-photo">
          <img :src="consult.patient.avatar" alt="">
      </td>
      <td>
          <a  :href="'/admin/patients/'+consult.patient.id" 
              v-text="consult.patient.full_name">
          </a>
      </td>
      <td>{{ consult.patient.birthday }} años</td>
      <td v-text="consult.patient.mobil"></td>
      <td v-text="consult.medical"></td>
      <td v-text="consult.start"></td>
      <td v-text="consult.status"></td>
      <td>
          <div class="btn-group">
              <button type="button" 
                      class="btn btn-primary btn-sm"
                      @click="clickUpdate"
                      v-if="consult.status == 'Abierta'">
                  <i class="fa fa-check"></i>
              </button>
              <button type="button" 
                      class="btn btn-info btn-sm"
                      @click="editing = true">
                  <i class="fa fa-edit"></i>
              </button>
              <button type="button" 
                      class="btn btn-danger btn-sm"
                      @click="destroy">
                  <i class="fa fa-close"></i>
              </button>
          </div>
      </td>
  </tr>

  <tr v-else>
      <td class="table-photo">
          <img :src="consult.patient.avatar" alt="">
      </td>
      <td>
          <a  :href="'/admin/patients/'+consult.patient.id" 
              v-text="consult.patient.full_name">
          </a>
      </td>
      <td>{{ consult.patient.birth }} años</td>
      <td v-text="consult.patient.mobil"></td>
      <td v-text="consult.medical"></td>
      <td>
          <input  type="date" 
                  name="" 
                  class="form-control" 
                  v-model="updateData.start">
      </td>
      <td>
        <select2  placeholder="Estatus"
                  :options="status"
                  :show-labels="false"
                  @input="changeStatu"
                  label="label">
        </select2>
      </td>
      <td>
          <div class="btn-group">
              <button type="button" 
                      class="btn btn-primary btn-sm"
                      @click="update">
                  <i class="fa fa-save"></i>
              </button>
              <button type="button" 
                      class="btn btn-danger btn-sm"
                      @click="editing = false">
                  <i class="fa fa-close"></i>
              </button>
          </div>
      </td>
  </tr>
</template>

<script>
import Select2 from 'vue-multiselect';

export default {

  components: {Select2},
  props: ['consult', 'index'],

  data () {
      return {
          editing: false,
          updateData: {
            start: this.consult.start,
            statu: 'open'
          },
          status: [
              { label: 'Abierta', value: 'open', class: 'table-info' },
              { label: 'Atendido', value: 'ready', class: 'table-success' },
              { label: 'Cancelada', value: 'cancel', class: 'table-danger' }
          ]
      }
  },

  mounted () {
  },

  computed: {
    classTr () {
      var c = this.status.find(status => status.label === this.consult.status);
      return c.class;      
    }
  },

  methods: {
      update () {
          axios.put('/api/consults/'+this.consult.id, this.updateData).then ( response => {
              this.consult.start = response.data.data.start;
              this.consult.status = response.data.data.status;
              this.editing = false;
              flash('Cita actualizada', 'info');
          }).catch( error => {
            flash('Error en comunicacion!', error.data, 'danger');
          })
      },
      clickUpdate () {
        this.updateData.statu = 'ready';
        this.update();

      },
      changeStatu (status) {
        this.updateData.statu = status.value;
      },
      destroy () {
          this.$swal({title: 'Eliminar consultar',
                      text: "Desea aliminar esta consulta con "+this.consult.patient.full_name+"?",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Si, eliminar!',
                      cancelButtonText: 'Cancelar!',
                      confirmButtonClass: 'btn btn-success',
                      cancelButtonClass: 'btn btn-danger',
                      buttonsStyling: false,
                      reverseButtons: true
                    }).then((result) => {
                      if (result.value) {
                        this.destroyed();
                      }
                    })
      },
      destroyed () {
          axios.delete('/api/consults/'+this.consult.id).then(response => {
              flash('Cancelar cita.', 'Se elimino la cita con '+this.consult.patient.full_name+' exitosamente', 'danger');              
              this.$emit('remove:cita', this.index);
          }).catch( error => {
            flash('warwing', error);
          });
      }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

