<template>
    <tr>
        <td class="table-photo">
            <img :src="patient.avatar" alt="" v-show="patient.avatar">
        </td>
        <td>
            <select2    @input="patientShow"
                        :options="patients"
                        placeholder="Paciente"
                        v-model.sync="patientOptions.selected"
                        :show-labels="false"
                        label="full_name">
            </select2>
        </td>
        
        <td v-text="patient.birth"></td>
        <td v-text="patient.mobil"></td>
        
        <td>
            <select2    @input="medicalShow"
                        v-model.sync="medicalOptions.selected" 
                        placeholder="Medico"
                        :options="medicals"
                        :show-labels="false"
                        label="name">
            </select2>
        </td>
        
        <td>
            <input  type="date" 
                    class="form-control" 
                    placeholder="Cita"
                    v-model="citaDraft.start">
        </td>

        <td>
          Abierta
        </td>
        
        <td>                
            <div class="btn-group">
                <button type="button" 
                        class="btn btn-primary btn-sm"
                        :disabled="!citaDraft.start && !citaDraft.medical_id"
                        @click="newCita()">
                    <i class="fa fa-save"></i>
                </button>
                <button type="button" 
                        class="btn btn-default btn-sm"
                        @click="cancelCreate">
                    <i class="fa fa-close"></i>
                </button>
            </div>                
        </td>
    </tr>
</template>

<script>

import Select2 from 'vue-multiselect'

export default {
  
  components: { Select2 },

  props: ['create', 'patients', 'medicals'],

  data () {
      return {
          medicalOptions: {
              selected: null
          },
          patientOptions: {
              selected: null
          },
          patient: [],
          citaDraft: {
              patient_id: null,
              medical_id: null,
              start: null
          }
      }
  },

  methods: {      
      patientShow (data) {
          axios.get('/api/patients/'+data.id+'/show').then( response => {
              this.patient = response.data.data;
              this.citaDraft.patient_id = response.data.data.id;
          })
      },
      medicalShow (data) {
          this.citaDraft.medical_id = data.value;
      },
      newCita () {
          axios.post('/api/consults', this.citaDraft).then( response => {
              this.$emit('add:cita', response.data);
              flash('Nueva Cita!', 'Se agendo correctamente la consulta.', 'info')
          })
      },
      cancelCreate () {
          this.$emit('cancel:create', false);
      }
  }

}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
