<template>
<tbody>
    <template v-for="(consult, index) in consults">
        <citas-row 	:consult="consult"
        			:index="index"
              @remove:cita="removeCita">
        </citas-row>
    </template>
</tbody>
</template>

<script>

import CitasRow from './CitasRow.vue';

export default {
  components: {CitasRow},

  props: ['consults'],

  data () {
      return {

      }
  },
  methods: {
    removeCita (cita) {
        this.$emit('remove:cita', cita, 1);
      }
  }

}
</script>
