<template>
  
  <div>
    <transition name="fade">
      <citas-search :patients="patients"
                    :medicals="medicals"
                    v-show="filter"
                    @close:filter="filter = null"
                    @search:consult="searching" 
                    @remove:filter="removeFilter">
      </citas-search>
    </transition>
    <section class="box-typical">
      <header class="box-typical-header">
          <div class="tbl-row">
              <div class="tbl-cell tbl-cell-title">
                  <h3>Citas medica para hoy.</h3>
              </div>
              <div class="tbl-cell tbl-cell-actions">
                  <button class="btn btn-primary-outline btn-sm"
                      @click="filter = true">
                      <i class="fa fa-filter"></i>
                  </button>
                  <button class="btn btn-success btn-sm"
                      @click="create = true"
                      desabled="!create">
                      <i class="fa fa-calendar-plus-o"></i>
                      Agendar cita.
                  </button>
              </div>
          </div>
      </header>
    
      <div class="box-typical-body">
          
          <div class="table-responsive">
              <table class="table table-hover table-bordered">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Paciente</th>
                          <th>Edad</th>
                          <th>Telefono</th>
                          <th>Medico</th>
                          <th>Cita</th>
                          <th>Estatus</th>
                          <th width="130px">Accion</th>
                      </tr>
                  </thead>
                  
                  <citas-new  v-show="create" 
                              :create.sync="create"
                              :medicals="medicals"
                              :patients="patients"
                              @cancel:create="val => create = val"
                              @add:cita="add">
                  </citas-new>
                  
                  <citas-table  :consults="orderedConsults"
                                @remove:cita="remove"
                                v-if="consults.length > 0">
                  </citas-table>
                  <tr v-else>
                    <td colspan="8" class="text-center">No hay resultados de la busqueda.. Intente de nuevo!</td>
                  </tr>
              </table>
          </div>
          
          <footer class="box-typical-footer">
            <ul class="pager">
            <li>
              <a  class="btn btn-info"
                      @click="back"
                      :disabled="!links.prev">Anterior
              </a>
            </li>
            <li>
              <a  class="btn btn-info"
                      @click="next"
                      :disabled="!links.next">Siguiente
              </a>
            </li>
            </ul>
          </footer>
    
      </div>
    </section>
  </div>

</template>

<script>

import CitasTable from './CitasTable.vue';
import CitasNew from './CitasNew.vue';
import CitasSearch from './CitasSearch.vue';

export default {
  components: { CitasTable, CitasNew, CitasSearch },

  data () {
      return {
          consults: [],
          create: false,
          filter: false,
          links: '',
          url: '/api/consults',
          search: null,
          medicals: [],
          patients: []
      }
  },

  mounted () {
      this.feach();
      this.loadMedicals();
      this.loadPatients();
  },

  computed: {
      orderedConsults () {
          return _.orderBy(this.consults, 'start');
      }
  },

  methods: {
    /**
     * Load of consults
     * @return void 
     */
      feach: function () {
          axios.get(this.url, {params: this.search}).then(response => {
              this.consults = response.data.data;
              this.links = response.data.links;
          });
      },
      loadMedicals () {
          axios.get('/api/medicals').then( response => {
              this.medicals = response.data.data;
          })
      },
      loadPatients () {
          axios.post('/api/patients').then( response => {
              this.patients = response.data.data;
          })
      },
      createCita () {
          this.create = true;
      },
      add (data) {
          this.create = false;
          this.consults.push(data.data);
      },
      remove (index) {
        this.consults.splice(index, 1);
      },
      next () {
        this.url = this.links.next;
        this.feach();
      },
      back () {
        this.url = this.links.prev;
        this.feach();
      },
      searching (data) {
        this.search = data;
        this.feach();
      },
      removeFilter () {
        this.search = null;
        this.feach();
      },
  }
}
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>