<template>
<form @keydown="form.errors.clear($event.target.name)" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-inversed">
				
				<div class="card-header">
					Informacion de usuario
				</div>

				<div class="card-block">
					<div class="row">

						<div class="col-xs-2 profile-side-user">

							<avatar-form	@load:avatar="loadAvatar"
											:avatarPath="user.avatar"></avatar-form>

						</div>
						
						<div class="col-md-10">
							<div class="row">
								<div class="col-xs-3">
									<field 	name="first_name"
											v-model="form.first_name" 
											type="text" 
											label="Nombres"
											:error="form.errors.get('first_name')"></field>
								</div>
								<div class="col-xs-3">
									<field 	name="last_name"
											v-model="form.last_name" 
											type="text" 
											label="Apellidos"
											:error="form.errors.get('last_name')"></field>
								</div>
								<div class="col-xs-3">
									<field 	name="birthday"
											v-model="form.birthday" 
											type="date" 
											label="Nacimiento"
											:error="form.errors.get('birthday')"></field>
								</div>
								<div class="col-xs-3">
									<fieldset>
										<label for="last_name" class="form-label">
											Genero
										</label>
										<div class="controls">
											<select2 	placeholder="Genero"
														@input="genderChange"
									                  	:options="[	{value: 'male', label: 'Masculino'},
									                  				{value: 'female', label: 'Femenino'}]"
									                  	:show-labels="false"
									                  	label="label"></select2>
									         <span 	class="text-danger" 
									         		v-if="form.errors.has('gender')" 
									         		v-text="form.errors.get('gender')"></span>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<fieldset>
										<label for="roles" class="form-label">
											Roles
										</label>
										<div class="controls">
											<select2 	placeholder="Roles"
														@input="rolesChange"
									                  	:options="[	{value: 'reception', label: 'Recepcion'},
									                  				{value: 'medical', label: 'Medical'}]"
									                  	:show-labels="false"
									                  	label="label"></select2>

									         <span 	class="text-danger" 
									         		v-if="form.errors.has('roles')" 
									         		v-text="form.errors.get('roles')"></span>
										</div>
									</fieldset>
								</div>
								<div class="col-xs-4">
									<field 	name="username"
											v-model="form.username" 
											type="text" 
											label="Usuario"
											:error="form.errors.get('username')"></field>
								</div>
								<div class="col-xs-5">
									<field 	name="email"
											v-model="form.email" 
											type="email" 
											label="Email"
											:error="form.errors.get('email')"></field>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<field 	name="phone_home"
											v-model="form.phone_home" 
											type="text" 
											label="Telefono"
											:error="form.errors.get('phone_home')"></field>
								</div>
								<div class="col-xs-6">
									<field 	name="mobil"
											v-model="form.mobil" 
											type="text" 
											label="Celular"
											:error="form.errors.get('mobil')"></field>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h5 class="with-border m-t-lg">Direccion</h5>

							<div class="row">
								<div class="col-xs-5">
									<field 	name="state"
											v-model="form.state" 
											type="text" 
											label="Estado"
											:error="form.errors.get('state')"></field>
								</div>
								<div class="col-xs-4">
									<field 	name="city"
											v-model="form.city" 
											type="text" 
											label="Ciudad"
											:error="form.errors.get('city')"></field>
								</div>
								<div class="col-xs-3">
									<field 	name="post_code"
											v-model="form.post_code" 
											type="text" 
											label="Codigo postal"
											:error="form.errors.get('post_code')"></field>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-8">
									<field 	name="street"
											v-model="form.street" 
											type="text" 
											label="Calle"
											:error="form.errors.get('street')"></field>
								</div>
								<div class="col-xs-4">
									<field 	name="number"
											v-model="form.number" 
											type="text" 
											label="Numero"
											:error="form.errors.get('number')"></field>
								</div>
							</div>

						</div>

					</div>


				</div>
				<div class="card-footer">
					<a href="/" class="btn btn-default">Cancelar</a>
					<button class="btn btn-primary pull-right"	
							@click.prevent="onSubmit"
							v-if="!user.avatar">
						<i class="fa fa-save"></i> Guardar
					</button>
					<button class="btn btn-success pull-right"	
							@click.prevent="onUpdate"
							v-if="user.avatar">
						<i class="fa fa-save"></i> Actualizar
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
</template>

<script>
import Select2 from 'vue-multiselect';
import Field from './../../utilities/form/Field';
import AvatarForm from './../../utilities/form/AvatarForm';

export default {
	components: { Field, Select2, AvatarForm },
	props: ['user'],
	data () {
		return {
			form: new Form({
				first_name: '',
				last_name: '',
				birthday: '',
				username: '',
				roles: '',
				email: '',
				phone_home: '',
				mobil: '',
				state: '',
				city: '',
				post_code: '',
				street: '',
				number: '',
				gender: '',
				
			}),
			avatar: ''
		}
	},

	created () {
		if (this.user) {
			this.form.load(this.user);
		}
	},

	methods: {
		onSubmit () {
			this.form.post('/api/users')
			.then(({data}) => {

                axios.post(`/api/users/avatar/`+data.username, this.avatar);

				this.$swal({title: 'Usuario generado!',
                      text: "Se agrego correctamente el usuario",
                      type: 'info',
                      showCancelButton: true,
                      confirmButtonText: 'Abrir!',
                      cancelButtonText: 'Crear nuevo',
                      confirmButtonClass: 'btn btn-success',
                      cancelButtonClass: 'btn btn-default',
                      buttonsStyling: false,
                      reverseButtons: true
                    }).then((result) => {
                      if (result.value) {
                        window.location.href = '/admin/users/'+data.username;
                      }
                    })
			});
		},

		onUpdate () {
			this.form.put('/api/users/'+ this.user.username)
				.then(response => {
					axios.post(`/api/users/avatar/`+this.user.username, this.avatar);
					this.$swal({
						title: response.menssage,
						type: 'success',
						confirmButtonText: 'Ir a expediente',
					}).then( (result) => {
						if (result.value) {
                        	window.location.href = '/admin/users/'+this.user.username;
						}
					})
				})
		},

		loadAvatar (avatar) {
			let data = new FormData();
            data.append('avatar', avatar);
            this.avatar = data;
		},

		genderChange (data) {
			this.form.gender = data.value;
		},

		rolesChange (data) {
			this.form.roles = data.value;
		}
	}
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
