<template>
<form  @keydown="form.errors.clear($event.target.name)">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-inversed">				
				<div class="card-header">
					Informacion personal
				</div>
				<div class="card-block">
					<div class="row">
						<div class="col-xs-2 profile-side-user">
							<avatar-form 	@load:avatar="loadAvatar" 
											:avatarPath="patient.avatar"></avatar-form>
						</div>						
						<div class="col-md-10">
							<div class="row">
								<div class="col-xs-4">
									<field 	name="first_name"
											v-model="form.first_name" 
											type="text" 
											label="Nombres"
											:error="form.errors.get('first_name')"></field>
								</div>
								<div class="col-xs-4">
									<field 	name="last_name"
											v-model="form.last_name" 
											type="text" 
											label="Apellidos"
											:error="form.errors.get('last_name')"></field>
								</div>
								<div class="col-xs-4">
									<field 	name="birthday"
											v-model="form.birthday" 
											type="date" 
											label="Nacimiento"
											:error="form.errors.get('birthday')"></field>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<field 	name="place_of_birth"
											v-model="form.place_of_birth" 
											type="text" 
											label="Lugar de nacimiento"
											:error="form.errors.get('place_of_birth')"></field>
								</div>
								<div class="col-xs-2">
									<field 	name="weight"
											v-model="form.weight" 
											type="text" 
											label="Peso (Kgs)"
											:error="form.errors.get('weight')"></field>
								</div>
								<div class="col-xs-2">
									<fieldset>
										<label for="last_name" class="form-label">
											Genero
										</label>
										<div class="controls">
											<select2 	placeholder="Genero"
														@input="genderChange"
									                  	:options="[	{value: 'male', label: 'Masculino'},
									                  				{value: 'female', label: 'Femenino'}]"
									                  	:show-labels="false"
									                  	label="label"></select2>
									         <span 	class="text-danger" 
									         		v-if="form.errors.has('gender')" 
									         		v-text="form.errors.get('gender')"></span>
										</div>
									</fieldset>
								</div>
								<div class="col-xs-2">
									<field 	name="job"
											v-model="form.job" 
											type="text" 
											label="Ocupacion"
											:error="form.errors.get('job')"></field>
								</div>
								<div class="col-xs-3">
									<field 	name="religion"
											v-model="form.religion" 
											type="text" 
											label="Religion"
											:error="form.errors.get('religion')"></field>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<field 	name="email"
									v-model="form.email" 
									type="text" 
									label="Email"
									:error="form.errors.get('email')"></field>
						</div>
						<div class="col-xs-4">
							<field 	name="phone_home"
									v-model="form.phone_home" 
									type="text" 
									label="Telefono"
									:error="form.errors.get('phone_home')"></field>
						</div>
						<div class="col-xs-4">
							<field 	name="mobil"
									v-model="form.mobil" 
									type="text" 
									label="Celular"
									:error="form.errors.get('mobil')"></field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h5 class="with-border m-t-lg">Direccion</h5>
							<div class="row">
								<div class="col-xs-5">
									<field 	name="state"
											v-model="form.state" 
											type="text" 
											label="Estado"
											:error="form.errors.get('state')"></field>
								</div>
								<div class="col-xs-4">
									<field 	name="city"
											v-model="form.city" 
											type="text" 
											label="Ciudad"
											:error="form.errors.get('city')"></field>
								</div>
								<div class="col-xs-3">
									<field 	name="post_code"
											v-model="form.post_code" 
											type="text" 
											label="Codigo postal"
											:error="form.errors.get('post_code')"></field>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-8">
									<field 	name="street"
											v-model="form.street" 
											type="text" 
											label="Calle"
											:error="form.errors.get('street')"></field>
								</div>
								<div class="col-xs-4">
									<field 	name="number"
											v-model="form.number" 
											type="text" 
											label="Numero"
											:error="form.errors.get('number')"></field>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="card-footer">
					<a href="/" class="btn btn-default">Cancelar</a>
					<button class="btn btn-primary pull-right"	
							@click.prevent="onSubmit"
							v-if="!patient.avatar">
						<i class="fa fa-save"></i> Guardar
					</button>
					<button class="btn btn-success pull-right"	
							@click.prevent="onUpdate"
							v-if="patient.avatar">
						<i class="fa fa-save"></i> Actualizar
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
</template>

<script>
import Select2 from 'vue-multiselect';
import Field from './../../utilities/form/Field';
import AvatarForm from './../../utilities/form/AvatarForm';

export default {

	components: { Field, Select2, AvatarForm },
	
	props: ['patient'],
	
	data () {
		return {
			form: new Form({
				first_name: '',
				last_name: '',
				birthday: '',
				place_of_birth: '',
				weight: '',
				job: '',
				religion: '',
				email: '',
				phone_home: '',
				mobil: '',
				state: '',
				city: '',
				post_code: '',
				street: '',
				number: '',
				gender: ''
			}),
			avatar: ''
		}
	},

	created () {
		if (this.patient) {
			this.form.load(this.patient);
		}
	},

	methods: {
		onSubmit () {
			this.form.post('/admin/patients')
			.then(({data}) => {
				
				axios.post(`/api/patients/avatar/`+data.id, this.avatar);

				this.$swal({title: 'Expediente agregado!',
                      text: "Se agrego correctamente el expediente de "+data.full_name,
                      type: 'info',
                      showCancelButton: true,
                      confirmButtonText: 'Abrir expediente!',
                      cancelButtonText: 'Crear nuevo',
                      confirmButtonClass: 'btn btn-success',
                      cancelButtonClass: 'btn btn-default',
                      buttonsStyling: false,
                      reverseButtons: true
                    }).then((result) => {
                      if (result.value) {
                        window.location.href = '/admin/patients/'+data.id;
                      }
                    })
			});
		},

		onUpdate () {
			this.form.put('/api/patients/'+ this.patient.id)
				.then(response => {

					axios.post(`/api/patients/avatar/`+this.patient.id, this.avatar);

					this.$swal({
						title: response.menssage,
						type: 'success',
						confirmButtonText: 'Ir a expediente',
					}).then( (result) => {
						if (result.value) {
                        	window.location.href = '/admin/patients/'+this.patient.id;							
						}
					})
				})
		},

		loadAvatar (avatar) {
			let data = new FormData();
            data.append('avatar', avatar);
            this.avatar = data;
		},

		genderChange (data) {
			this.form.gender = data.value;
		}
	}
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
