<template>
	<box-typical @search="searchValue">
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th></th>
						<th>Nombre</th>
						<th>Edad</th>
						<th>Sexo</th>
						<th>Signo</th>
						<th>Celular</th>
						<th>Email</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(patient, index) in filteredPatients">
						<td class="table-photo">
							<img :src="patient.avatar" alt="" 
								data-toggle="tooltip" 
								data-placement="bottom" 
								data-original-title="">
						</td>
						<td>
							<a :href="linkShow(patient.id)" v-text="patient.full_name"></a>
						</td>
						<td>{{patient.birthday}} anos</td>
						<td v-text="patient.gender"></td>
						<td v-text="patient.zodiac"></td>
						<td v-text="patient.mobil"></td>
						<td v-text="patient.email"></td>
						<td>
							<div class="btn-group">
                               	<a :href="linkShow(patient.id)"
                               		class="btn btn-primary btn-sm">
                               		<i class="fa fa-eye"></i>
                               	</a>				             
                               	<a :href="linkEdit(patient.id)" 
                               		class="btn btn-success btn-sm">
                               		<i class="fa fa-edit"></i>
                               	</a>
				          	</div>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>

	</box-typical>
</template>

<script>
import BoxTypical from './../../../utilities/widgets/BoxTypical.vue';
export default {
	components: { BoxTypical },
	data () {
		return {
			patients: [],
			search: ''
		}
	},

	mounted () {
		axios.post('/api/patients')
			.then(({data}) => this.patients = data.data)
			.catch(() => flash('Error!', 'No se pudo cargar los datos!', 'danger'));
	},
	computed: {
		filteredPatients () {
	      return this.patients.filter(patient => {
	         return patient.full_name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
	      })
	    }
	},
	methods: {
	    searchValue (value) {
	    	this.search = value;
	    },
	    linkEdit (patient) {
	    	return '/admin/patients/'+patient+'/edit';
	    },
	    linkShow (patient) {
	    	return '/admin/patients/'+patient;
	    }
	}

}
</script>