<template>
	<section class="box-typical">
		<header class="box-typical-header">
			<div class="tbl-row">
				<div class="tbl-cell tbl-cell-title">
					<h3 v-show="!searching">Citas</h3>
				</div>
				<div class="tbl-cell tbl-cell-actions">
					<button class="btn btn-sm btn-success-outline"
							@click="creating = true">
						<i class="fa fa-calendar"></i>
						Nueva
					</button>
				</div>
			</div>
		</header>
		<div class="box-typical-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Medico</th>
						<th>Fecha de Cita</th>
						<th>Estatus</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="creating">
						<td>
							<select2    @input="medicalShow"
				                        placeholder="Medico"
				                        :options="medicals"
				                        :show-labels="false"
				                        label="name">
		            		</select2>
						</td>
						<td>
							<date-picker language="es" 
										v-model="citaDraft.start"
										bootstrapStyling="true" 
										calendar-button	="true"
										calendar-button-icon="fa fa-calendar"></date-picker>
							<!-- <input 	name="start"
									class="form-control" 
									v-model="citaDraft.start" 
									type="date"></input> -->
						</td>
						<td>Abierta</td>
						<td>
							 <div class="btn-group">
					            <button type="button" 
					                    class="btn btn-primary btn-sm"
					                    @click="newCita"
					                    :disabled="!citaDraft.start">
					                <i class="fa fa-save"></i>
					            </button>
					            <button type="button" 
					                    class="btn btn-default btn-sm"
					                    @click="creating = false">
					                <i class="fa fa-close"></i>
					            </button>
					        </div>                
						</td>
					</tr>
					<tr v-for="consult in patient.consults">
						<td>{{ consult.medical }}</td>
						<td>{{ consult.start }}</td>
						<td>{{ consult.status }}</td>
						<td>
							<div class="btn-group">
				              <button type="button" 
				                      class="btn btn-primary btn-sm"
				                      @click="check(consult)"
				                      v-if="consult.status == 'Abierta'">
				                  <i class="fa fa-check"></i>
				              </button>
				              <button type="button" 
				                      class="btn btn-danger btn-sm"
				                      @click="destroy(consult)"
				                      >
				                  <i class="fa fa-close"></i>
				              </button>
				          </div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</template>

<script>
	import Select2 from 'vue-multiselect';
	import DatePicker from 'vuejs-datepicker';
	export default {
		components: { Select2, DatePicker },
		props: ['patient_id'],

		data () {
			return {
				patient: [],
				medicals: [],
				searching: false,
				creating: false,
				citaDraft: {
					medical_id: '',
					start: '',
					patient_id: this.patient_id
				},
				update: {
					statu: ''
				}
			}
		},

		mounted () {
			axios.get('/api/patients/'+this.patient_id+'/show')
				.then(({data}) => this.patient = data.data);
			axios.get('/api/medicals')
				.then(({data}) => this.medicals = data.data);
		},

		methods: {
		  customFormatter(date) {
		      return moment(date).format('DD/MM/YYYY');
		  },
	      medicalShow (data) {
	          this.citaDraft.medical_id = data.value;
	      },
	      newCita () {
	          axios.post('/api/consults', this.citaDraft).then( ({data}) => {
	          	this.patient.consults.push(data.data)
	          	this.creating = false;
	            flash('Nueva Cita!', 'Se agendo correctamente la consulta.', 'info')
	          })
	      },
	      check (consult) {
	      	this.update.statu = 'ready';

	      	axios.put('/api/consults/'+consult.id, this.update)
	      		.then(({data}) => {
	      			consult.status = data.data.status;
	            	flash('Cambio de estatus!', 'Cambio a atendido.', 'info')
	      		});
	      },

	      destroy (consult) {
	          this.$swal({title: 'Eliminar consultar',
	                      text: "Desea aliminar esta consulta?",
	                      type: 'warning',
	                      showCancelButton: true,
	                      confirmButtonText: 'Si, eliminar!',
	                      cancelButtonText: 'Cancelar!',
	                      confirmButtonClass: 'btn btn-success',
	                      cancelButtonClass: 'btn btn-danger',
	                      buttonsStyling: false,
	                      reverseButtons: true
	                    }).then((result) => {
	                      if (result.value) {
	                        this.destroyed(consult);
	                      }
	                    })
	      },
	      destroyed (consult) {
	          axios.delete('/api/consults/'+consult.id).then(response => {
	          		this.patient.consults.splice(consult, 1)
	              flash('Cancelar cita.', 'Se elimino la cita con exitosamente', 'danger');
	          }).catch( error => {
	            flash('warwing', error);
	          });
	      }
		}

	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
