<template>
	<div class="dropdown-menu dropdown-menu-right dropdown-menu-notif" aria-labelledby="dd-notification">
		
		<div class="dropdown-menu-notif-header">
			Notifications
			<span class="label label-pill label-danger">4</span>
		</div>

		<div class="dropdown-menu-notif-list">
			
			<div class="dropdown-menu-notif-item" v-for="noty in notifications">
				<div class="photo">
					<img src="/startui/img/photo-64-1.jpg" alt="">
				</div>
				<div class="dot"></div>
				<a href="#">Morgan</a> {{ noty.title }}
				<div class="color-blue-grey-lighter">7 hours ago</div>
			</div>

		</div>
		
		<div class="dropdown-menu-notif-more">
			<a href="#">Ver Todas</a>
		</div>
	</div>
</template>

<script>

export default {
	data () {
		return {

			notifications: 
				[
					{
						title: "Numero 1"
					},
					{
						title: "Numero 2"
					},
					{
						title: "Numero 3"
					},
				]
		}
	}
}
	
</script>

<style>
	
</style>