<template>
	<form method="POST" enctype="multipart/form-data">
		<button type="button" class="avatar-preview avatar-preview-128">
			<img :src="avatar" alt="">
			<span class="update">
				<i class="font-icon font-icon-picture-double"></i>
				Seleccion foto!
			</span>
			<image-upload name="avatar" class="mr-1" @loaded="onLoad"></image-upload>
		</button>
	</form>
</template>

<script>
	import ImageUpload from './ImageUpload.vue';

	export default {
		components: { ImageUpload },
        props: ['avatarPath'],
		data() {
            return {
                avatar: '/storage/avatars/avatar.png'
            };
        },

        created () {
    		if (this.avatarPath) {
                this.avatar = '/storage/avatars/'+this.avatarPath;
            }
        },

        methods: {
        	onLoad(avatar) {
                this.avatar = avatar.src;

                this.persist(avatar.file);
            },
            persist(avatar) {
                
                this.$emit('load:avatar', avatar);
            }
        }

	}
</script>