<template>
	<fieldset :class="{ 'form-group-error': this.error }">
	    <label :for="name" class="form-label">
	        {{ label }}
	    </label>
	    <div class="controls">
	        <input 	:type="type"
	        		:name="name"
	        		class="form-control"
	        		:id="name"
	        		:value="value"
	        		:placeholder="label"
	        		@input="updateValue($event.target.value)">
	    			<span class="text-danger" v-if="error">{{ error }}</span>
	    </div>
	</fieldset>
</template>

<script>
	export default {
		
		props: ['name', 'type', 'label', 'error', 'value'],

		methods: {
			updateValue (value) {
				this.$emit('input', value);
			}
		}
	}
</script>